LUGIntegrador/.vs/
LUGIntegrador/LUGIntegrador/obj/
LUGIntegrador/Abstraccion/obj/
LUGIntegrador/Abstraccion/Abstraccion/obj/
LUGIntegrador/BE/bin/
LUGIntegrador/BE/obj/
LUGIntegrador/BLL/bin/
LUGIntegrador/BLL/obj/
LUGIntegrador/DAL/bin/
LUGIntegrador/DAL/obj/
LUGIntegrador/packages/
LUGIntegrador/Nueva carpeta/Negocio/obj/
LUGIntegrador/Nueva carpeta/Mapper/obj/
LUGIntegrador/Nueva carpeta/DAL/obj/
LUGIntegrador/Nueva carpeta/BusinessLogicLayer/obj/
LUGIntegrador/LUGIntegrador/bin/
LUGIntegrador/MPP/bin/
LUGIntegrador/MPP/obj/
